
body {
    font-family: "Quicksand", sans-serif;
}

.nav-top {
    display: flex;
    align-items: centerm !important;
    justify-content: space-around;
    text-decoration: none;
    color: white;
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
.nav ul {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav li {
    list-style-type: none;
    margin: 0 8px;
}

.nav-top img {
    width: 110px;
    height: 50px;
    margin: 10px 0;
}

.nav-top {
    background: black;
}

.nav-top .nav ul li i {
    color: white;
    margin-right: 3px;
    position: relative;
    bottom: 2px;
}

.nav-top .nav ul li a {
    font-family: fantasy;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.nav-top .nav ul a:hover {
    color: burlywood;
    transition-delay: 0.8;
}
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
/*main*/
.hero-part1{
    background-image: url(../images/coffee-g85e4ce211_1920.jpg);
    background-size: cover;
    
}
.hero-part1 .hero-content {
    color: white;
    font-family: fantasy;
    letter-spacing: 2px;
    padding:130px 0px 130px 700px; 
    animation: transitionIn 1.5s;
}
.hero-part1 .hero-content h3{
    color: sandybrown;
    font-family: 'Kaushan Script', cursive;
    opacity: 0.8;
    padding:0px 0px 0px 80px; 
    font-size: 18px;
    font-weight: 800;
    animation: transitionIn 2s;
}

.types-coffe {
    font-family: fantasy;
    letter-spacing: 2px;
    position: relative;
}

.types-coffe .top-part h3::before {
    left: 0;
    border-radius: 0 5px 5px 0px;
}

.types-coffe .top-part h3::after {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.types-coffe .top-part h3::before,
.types-coffe .top-part h3::after {
    content: '';
    position: absolute;
    top: 50%;
    width: clamp(20%, 30%, 40%);
    height: 3px;
    background-color: burlywood;
    transform: translateY(-50%);
}

.types-coffe .top-part h3 {
    margin: 0;
    font-weight: 400;
    color: white;
    background-color: black;
    padding: 30px 0;
    text-align: center;
}
/*main*/
/*menu*/
.menu .head{
    padding-top: 40px;
    font-family: fantasy;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 90px;
}
.menu .head::before{
    content: '';
    position: absolute;
    top: 100px;
    width: clamp(11%, 1%, 40%);
    height: 3px;
    background-color: burlywood;
    transform: translateY(-50%);
}
.menu{
    position: relative;
    background-color: snow;
    display: flex;
}
.menu .menu-content{
    margin-bottom: 50px;
    display: flex;
}
.menu .menu-content .img-part-menu img{
    width: 120px;
    height: 110px;
    border-radius: 3px;
}
.menu .menu-content .stuff{
    display: flex;
    margin-left: 10px;
}
.menu .menu-content .stuff .menu-cofe h3{
    letter-spacing: 2px;
    font-family: fantasy;
}

.menu .menu-content .stuff .price{
    position: relative;
    left: 5px;
}
.menu .menu-content .stuff .menu-cofe p{
    position: relative;
    bottom: 8px;
    left: 2px;
    color: #c77905;
}
.menu .menu-content .stuff .price h3{
    font-weight: 400;
    font-family: fantasy;
    font-size:26px;
    padding-top: 2px;
    position: relative;
    left: 7px;
}
.menu .menu-content .stuff .price .price-btn-content{
    position: relative;
    left: 13px;
    
}
.menu .menu-content .stuff .price .price-btn-content button{
    background-color: #c77905;
    border: 0px;
    opacity: 0.8;
    position: relative;
    right: 14px;
}
.menu .menu-content .stuff .price .price-btn-content button span{
    padding: 2px 10px 2px 5px;
    color: #49160B;
    font-family: 'Kaushan Script', cursive;
}

/*menu*/
/*footer*/
.end {
    background-image: url(../images/bottt.jpg);
    color: white;
    padding-bottom: 10px;
    opacity: 1;
}

.end .contact-us {
    margin-top: 30px;
}

.end .contact-us h3 {
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}

.end .contact-us p {
    margin-bottom: 1px;
    font-weight: 100;
}

.end .contact-us img {
    width: 200px;
    height: 100px;
    margin-top: 10px;
}

.end .time-end {
    font-size: 12px;
    margin-top: 30px;
}

.end .time-end h3 {
    font-size: 25px;
    margin-left: 30px;
    font-family: 'Anton', sans-serif;
}

.end .time-end ul {
    font-weight: 200;
    list-style-type: none;
}

.end .time-end ul li {
    margin-top: 15px;
}

.side-links ul {
    list-style-type: none;
    float: right;
}

.social-contact {
    margin-left: 5px;
    margin-top: 30px;
    font-size: 20px;
}

.social-contact h3 {
    font-size: 25px;
    margin-left: 30px;
    font-family: 'Anton', sans-serif;
}

.social-contact ul {
    margin-top: 10px;
    list-style-type: none;
}

.social-contact ul li {
    margin-top: 20px;
    display: flex;
    display: inline-block;
}

.social-contact ul li a {
    color: white;
    text-decoration: none;
    background-color: burlywood;
    border-radius: 100%;
    padding:12px;
    margin-right: 10xp;
}
.social-contact ul li a  i{
    position: relative;
    left: 8px;
}

.social-contact ul li a:hover {
    opacity: 0.8;
}
@media only screen and (min-width: 600px) {
  
    .hero-part1 .hero-content{
        display: flex;
    }  
    .hero-part1 .hero-content h1{
    
}
}
